<div class="container">

	<div class="row">

		<div class="col-md-10 col-md-offset-1">

			<h1 class="title" style="text-align:center">Stock Tracker</h1>

			<p class="lead info" style="text-align:center">Search below to find the latest info on stocks worldwide!</p>

			<%= render 'stocks/lookup' %>

		</div>

	</div>

</div>
