<div class="container">

	<div class="row">

		<div class="col-md-10 col-md-offset-1">

			<h1 class="title" style="text-align:center">Stock Tracker</h1>

			<p class="lead info" style="text-align:center">Search below to find the latest info on stocks worldwide!</p>

			<%= render 'stocks/lookup' %>

		</div>

	</div>

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- stock-tracker -->
			<ins class="adsbygoogle"
		     style="display:block; border: solid 1px black; margin-top:100px;"
		     data-ad-client="ca-pub-1209199813079976"
		     data-ad-slot="1278363649"
		     data-ad-format="auto"></ins>

		</div>

	</div>

</div>
